   body {
            font-family: 'IBM Plex Sans', Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        .container {
            width: 80%;
            max-width: 1200px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: left;
        }
        h1, h2, h3 {
            color: #0f62fe;
        }
        .section {
            margin-bottom: 40px;
        }
        .content {
            margin-bottom: 20px;
        }
        .badge-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
        }
        .badge-item {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            overflow: hidden;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .badge-item:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 30px rgba(0,0,0,0.2);
        }
        .badge-item img {
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
        .badge-item a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #007acc;
            font-weight: bold;
        }
        .badge-item a:hover {
            background-color: #f4f4f4;
        }
        .footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: #fff;
            margin-top: 20px;
            width: 100%;
        }
